In [2]:
from pandas import Series, DataFrame
import pandas as pd

myCampus = Series([100,200,300,400,500], 
    index=["2025-12-01","2025-12-02","2025-12-03","2025-12-04","2025-12-05"])
myCampus

2025-12-01    100
2025-12-02    200
2025-12-03    300
2025-12-04    400
2025-12-05    500
dtype: int64

In [4]:
#슬라이싱
myCampus["2025-12-05"]

np.int64(500)

In [5]:
sample1 = [["아이폰16",1500000],["갤럭시S24",1300000],["LG롤러블",2500000]]
column1 = ["제품명","가격"]
df = DataFrame(data=sample1, columns=column1)
df

      제품명       가격
0   아이폰16  1500000
1  갤럭시S24  1300000
2   LG롤러블  2500000

In [6]:
#딕셔너리 활용
data = {"foreigner":[1,2,3,4,5,6], 
        "sratio":[10,20,30,40,50,60],
        "org":[100,200,300,400,500,600], 
        "sprice":[1,2,3,4,5,6], 
        "private":[10,20,30,40,50,60]
        }

data

{'foreigner': [1, 2, 3, 4, 5, 6],
 'sratio': [10, 20, 30, 40, 50, 60],
 'org': [100, 200, 300, 400, 500, 600],
 'sprice': [1, 2, 3, 4, 5, 6],
 'private': [10, 20, 30, 40, 50, 60]}

In [ ]:
df = DataFrame(data=data)
df

   foreigner  sratio  org  sprice  private
0          1      10  100       1       10
1          2      20  200       2       20
2          3      30  300       3       30
3          4      40  400       4       40
4          5      50  500       5       50
5          6      60  600       6       60

In [9]:
#컬럼을 순서 지정 
df = DataFrame(data=data, 
    columns=["private", "org","foreigner", "sratio",  "sprice"], 
    index=["2025-12-01","2025-12-02","2025-12-03",
           "2025-12-04","2025-12-05","2025-12-06"])
df

            private  org  foreigner  sratio  sprice
2025-12-01       10  100          1      10       1
2025-12-02       20  200          2      20       2
2025-12-03       30  300          3      30       3
2025-12-04       40  400          4      40       4
2025-12-05       50  500          5      50       5
2025-12-06       60  600          6      60       6